<!DOCTYPE html>
<html>
<body>
<div align="center">
    
<h1>Python Tutorial</h1>
</div>
</body>
</html>

In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [3]:
os.getcwd()

'C:\\Users\\User\\Desktop\\Data analitika DS2025\\Applied Data Analytics with Python 25G03\\Python-master'

In [ ]:
#os.chdir(r'C:\\Users\\User\\Desktop\\Seaborn\\Dataset')

In [ ]:
#os.getcwd()

In [ ]:
#os.chdir(r'C:\\Users\\User\\Desktop\\Data analitika DS2025\\Applied Data Analytics with Python 25G02\\Python-master')

In [ ]:
#os.getcwd()

## Keywords

Keywords are the reserved words in Python and can't be used as an identifier

In [2]:
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist) # Python contains 35 keywords

35

## Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

In [4]:
scl = 5

In [5]:
type(scl)

int

In [6]:
1var = 10 # Identifier can't start with a digit

SyntaxError: invalid syntax (2026980919.py, line 1)

In [7]:
val2@ = 35 # Identifier can't use special symbols

SyntaxError: invalid syntax (161933590.py, line 1)

In [8]:
import = 125 # Keywords can't be used as identifiers

SyntaxError: invalid syntax (2492423719.py, line 1)

In [10]:
"""
Correct way of defining an identifier 
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore)
"""

value2 = 10

In [11]:
print(value2)

10

In [12]:
val_ = 99

In [13]:
val3 = val_/value2

In [14]:
print(val3)

9.9

# Comments in Python

Comments can be used to explain the code for more readabilty.

In [15]:
# Single line comment
val1  = 10

In [16]:
# Multiple 
# line 
# comment
val1  = 10

Bu dersde biz Python kodlasdirmasini oyrenirik. Kommentler haqqinda danisiriq

Bu günki dərsimiz Python basics dərsləridir

In [17]:
'''
Multiple 
line 
comment
'''
val1  = 10

In [18]:
"""
Multiple 
line 
comment
"""
val1  = 10

## Statements

Instructions that a Python interpreter can execute.

In [19]:
# Single line statement
p1 = 10 + 20
p1

30

In [20]:
# Single line statement
p2 = ['a' , 'b' , 'c' , 'd']
p2

['a', 'b', 'c', 'd']

In [23]:
# Multiple line statement
p1 = 20 + 30 +\
40 + 50 + 70 + 80
p1

290

In [25]:
print("Hello,\nPython!")

Hello,
Python!

In [26]:
# Multiple line statement
p2 = ['a' , 
      'b' , 
      'c' , 
      'd' 
     ]
p2

['a', 'b', 'c', 'd']

## Indentation

Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses indentation to indicate a block of code.If the indentation is not correct we will endup with <b>IndentationError</b> error.

In [29]:
p = 10
if p == 10:
    print ('P is equal to 10') # correct indentation

P is equal to 10

In [30]:
var1 = 20
if var1 == 19:
    print('Gulsum yaxsi qizdir')
else:
    print('Sonra')

Sonra

In [31]:
# if indentation is skipped we will encounter "IndentationError: expected an indented block"
p = 10
if p == 10:
    print ('P is equal to 10')

P is equal to 10

In [32]:
for i in range(0,5):
    print(i)               # correct indentation

0
1
2
3
4

In [35]:
# if indentation is skipped we will encounter "IndentationError: expected an indented block"
for i in range(0,5):
print(i)

IndentationError: expected an indented block (3752845270.py, line 3)

In [36]:
for i in range(0,5):
    print(i)  # correct indentation but less readable

0
1
2
3
4

In [39]:
j=20
for i in range(0,5):
    print(i) # inside the for loop
print(j) # outside the for loop

0
1
2
3
4
20

## Docstrings

1) Docstrings provide a convenient way of associating documentation with functions, classes, methods or modules. 

2) They appear right after the definition of a function, method, class, or module.

In [40]:
def square(num):
    '''Square Function :- This function will return the square of a number'''
    return num**2

In [42]:
square.__doc__

'Square Function :- This function will return the square of a number'

In [41]:
square(25) # shift+tab kod yazılanda funksiyanın xüsusiyyəti görünür

625

In [43]:
import numpy as np

In [44]:
def sq_root(num):
    return np.sqrt(num)

In [48]:
print(sq_root(25))

5.0

In [49]:
import math

In [50]:
def fakt(x):
    return math.factorial(x)

In [53]:
fakt(5)

120

In [54]:
def kvadrat_kok(num):
    return math.sqrt(num)

In [55]:
kvadrat_kok(255)

15.968719422671311

In [56]:
def Emek_haqqi(num):
    '''Emek haqqi :- This function will calculate 20% off any salary'''
    return num-(num*0.2)

In [57]:
Emek_haqqi(4500)

3600.0

In [58]:
print(Emek_haqqi.__doc__)

Emek haqqi :- This function will calculate 20% off any salary

In [59]:
square(100)

10000

In [60]:
square.__doc__  # We can access the Docstring using __doc__ method

'Square Function :- This function will return the square of a number'

In [61]:
def evenodd(num):
    '''evenodd Function :- This function will test whether a number is Even or Odd'''
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [62]:
evenodd(3)

Odd Number

In [63]:
evenodd(2)

Even Number

In [64]:
def gitpot(num):
    if num % 2 == 0:
        print("Im numre gite")
    else:
        print("Im numre pote")

In [65]:
gitpot(5)

Im numre pote

In [66]:
evenodd.__doc__

'evenodd Function :- This function will test whether a number is Even or Odd'

In [67]:
gitpot.__doc__

## Variables

A Python variable is a reserved memory location to store values.A variable is created the moment you first assign a value to it.

In [68]:
import pandas as pd

In [69]:
data = pd.read_csv("C:\\Users\\User\\Desktop\\Seaborn\\Dataset\\Fish.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [70]:
p = 35

In [71]:
'''
id() function returns the “identity” of the object. 
The identity of an object - Is an integer
                          - Guaranteed to be unique
                          - Constant for this object during its lifetime. 
'''
id(p)

140709870252000

In [72]:
hex(id(p)) # Memory address of the variable

'0x7ff991d52fe0'

In [73]:
p = 20  #Creates an integer object with value 20 and assigns the variable p to point to that object.
q = 20  # Create new reference q which will point to value 20. p & q will be pointing to same memory location.
r = q  # variable r will also point to the same location where p & q are pointing/
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3f0' where value 20 is stored

(20, int, '0x7ff991d52e00')

In [74]:
type(p)

int

In [75]:
a = 2.5
type(a)

float

In [76]:
h = 'Hello'
h, type(h), hex(id(h))

('Hello', str, '0x136b711fe30')

In [77]:
q , type(q), hex(id(q))

(20, int, '0x7ff991d52e00')

In [78]:
r , type(r), hex(id(r))

(20, int, '0x7ff991d52e00')

<img src="variable.PNG">

In [79]:
p = 20
p = p + 10 # Variable Overwriting
p

30

In [80]:
hex(id(p))

'0x7ff991d52f40'

### Variable Assigment

In [81]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable

print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [82]:
type(strvar)

str

### Multiple Assignments

In [83]:
intvar , floatvar , strvar = 10, 2.57, "Python Language" # Using commas to separate variables and their corresponding values.
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [84]:
Shaig_age, Shaig_education, Shaig_height = 44, "Doctorate", 1.76

In [85]:
print(Shaig_age)
print(Shaig_education)
print(Shaig_height)

44
Doctorate
1.76

In [86]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

In [88]:
hex(id(p1)) == hex(id(p3))

True

# Data Types

## Numeric

In [89]:
val1 = -10  # Integer data type

In [90]:
print(val1)

-10

In [91]:
print(type(val1)) # type of object

<class 'int'>

In [92]:
import sys

In [93]:
d = '123546546'

In [94]:
type(d)

str

In [95]:
sys.getsizeof(d)

58

In [96]:
print(sys.getsizeof(val1)) # size of integer object in bytes

28

In [97]:
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int class

-10  is Integer? True

In [98]:
var1 = 10
type(var1)

int

In [99]:
val2 = 92.78 # Float data type
print(val2)

92.78

In [100]:
print(type(val2)) # type of object

<class 'float'>

In [101]:
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float class

24
92.78  is float? True

In [102]:
isinstance(val2, float)

True

In [103]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of complex class

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [104]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [105]:
sys.getsizeof(float())  # size of float object in bytes

24

In [106]:
sys.getsizeof(complex()) # size of complex object in bytes

32

## Boolean

Boolean data type can have only two possible values __true__ or __false__.

In [107]:
bool1 = True

In [108]:
bool2 = False

In [109]:
print(type(bool1))

<class 'bool'>

In [110]:
print(type(bool2))

<class 'bool'>

In [111]:
isinstance(bool1, bool)

True

In [112]:
isinstance(bool1, complex)

False

In [113]:
bool(0)

False

In [114]:
bool(1)

True

In [115]:
bool(None)

False

In [116]:
bool (False)

False

## Strings

### String Creation

In [117]:
str1 = "HELLO PYTHON"

print(str1)

HELLO PYTHON

In [118]:
str2 = 'This is next Python class'

In [119]:
str2

'This is next Python class'

In [120]:
mystr = 'Hello World' # Define string using single quotes
print(mystr)

Hello World

In [121]:
hello = 'Hello, Aysel. How are you?'

In [122]:
hello

'Hello, Aysel. How are you?'

In [123]:
print(type(mystr))

<class 'str'>

In [124]:
mystr = "Hello World" # Define string using double quotes
print(mystr)

Hello World

In [128]:
mystr = '''Hello             
            World '''   # Define string using triple quotes
print(mystr)

Hello
            World

In [129]:
mystr = """Hello
           World"""  # Define string using triple quotes
print(mystr)

Hello
           World

In [130]:
mystr = ('Happy '
         'Monday '
         'Everyone')
print(mystr)

Happy Monday Everyone

In [131]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [132]:
a = 'Aysel'
b = ' '
c = (a + b)*10
c

'Aysel Aysel Aysel Aysel Aysel Aysel Aysel Aysel Aysel Aysel '

In [133]:
len(mystr2) # Length of string

35

In [134]:
len(a)

5

### String Indexing

<img src="string.PNG">

In [135]:
str1

'HELLO PYTHON'

In [141]:
hex(id(str1[-7]))

'0x136a9ce2e30'

In [138]:
str1[0] # First character in string "str1"

'H'

In [139]:
str1[len(str1)-1] # Last character in string using len function

'N'

In [142]:
len(str1)

12

In [143]:
str1[len(str1)-12]

'H'

In [144]:
str1[-1] # Last character in string

'N'

In [145]:
str1[6] #Fetch 7th element of the string

'P'

In [146]:
str1[5]

' '

### String Slicing

In [147]:
a = 'Peter Jackson'

In [148]:
len(a)

13

In [149]:
a[5:6]

' '

In [150]:
b = a[0:3]*10

In [151]:
print(b)

PetPetPetPetPetPetPetPetPetPet

In [152]:
a[:5]

'Peter'

In [153]:
a[-7:]

'Jackson'

In [156]:
a[-13:]

'Peter Jackson'

In [157]:
a[2:5]*20

'terterterterterterterterterterterterterterterterterterterter'

In [158]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excluding the character at loc 5.

'HELLO'

In [159]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc excluding index loc 12.

'PYTHON'

In [160]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [161]:
str1[-6:] # Retreive last six characters of the string

'PYTHON'

In [162]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [163]:
str1[:6] # Retreive first six characters of the string

'HELLO '

In [164]:
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [166]:
data.iloc[1:4,2:5]

   Length1  Length2  Length3
1     24.0     26.3     31.2
2     23.9     26.5     31.1
3     26.3     29.0     33.5

### Update & Delete String

In [167]:
str1

'HELLO PYTHON'

In [168]:
#Strings are immutable which means elements of a string cannot be changed once they have been assigned.
str1[0:5] = 'Salam'

TypeError: 'str' object does not support item assignment

In [169]:
str1 = 'Sumgait'

In [170]:
str1

'Sumgait'

In [171]:
str1 = 'How are you?'

In [172]:
str1

'How are you?'

In [173]:
del str1 # Delete a string

In [174]:
print(srt1)

NameError: name 'srt1' is not defined

In [175]:
a

'Peter Jackson'

In [176]:
del a

In [177]:
print(a)

NameError: name 'a' is not defined

### String concatenation

In [178]:
a = 'Salam'
vergul = ','
bosluq = ' '
a1 = 'Aysel'
a2 = 'Mehdiyeva'
a3 = a + vergul + bosluq + a1 + bosluq + a2
print(a3)

Salam, Aysel Mehdiyeva

In [179]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + bosluq + s2
print(s3)

Hello Asif

In [180]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + " " + s2
print(s3)

Hello Asif

In [181]:
a1 = 'Babayev'
bosluq = ' '
a2 = 'Rahid'
a4 = a1 + bosluq + a2
print(a4)

Babayev Rahid

### Iterating through a String

In [182]:
a3

'Salam, Aysel Mehdiyeva'

In [183]:
for herf in a3:
    print(herf)

S
a
l
a
m
,

A
y
s
e
l

M
e
h
d
i
y
e
v
a

In [184]:
for i in enumerate(a3):
    print(i)

(0, 'S')
(1, 'a')
(2, 'l')
(3, 'a')
(4, 'm')
(5, ',')
(6, ' ')
(7, 'A')
(8, 'y')
(9, 's')
(10, 'e')
(11, 'l')
(12, ' ')
(13, 'M')
(14, 'e')
(15, 'h')
(16, 'd')
(17, 'i')
(18, 'y')
(19, 'e')
(20, 'v')
(21, 'a')

In [185]:
mystr1 = "Hello Everyone"

In [186]:
# Iteration  
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [187]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [188]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and returns it in a form of enumerate object.

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

### String Membership

In [191]:
# String membership

mystr1 = "Hello Everyone"

print ('Hello' in mystr1) # Check whether substring "Hello" is present in string "mysrt1"
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in string "mysrt1"
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mysrt1"

True
True
False

In [192]:
a5 = 'Aysel, How are you?'

In [193]:
print('Havaryu' in a5)

False

In [194]:
print('Aysel' in a3)
print('Esqin' in a3)

True
False

### String Partitioning

In [195]:
"""
The partition() method searches for a specified string and splits the string into a tuple containing three elements.

 - The first element contains the part before the argument string.

 - The second element contains the argument string.

 - The third element contains the part after the argument string.
"""

str5 = "Natural language processing with Python and R and Java"
L = str5.partition("with") 
print(L)

('Natural language processing ', 'with', ' Python and R and Java')

In [196]:
ad = 'Bilik paylasdiqca artar'
b = ad.partition('paylasdiqca')
print(b)

('Bilik ', 'paylasdiqca', ' artar')

In [197]:
"""
The rpartition() method searches for the last occurence of the specified string and splits the string into a tuple 
containing three elements.

 - The first element contains the part before the argument string.

 - The second element contains the argument string.

 - The third element contains the part after the argument string.
"""

str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and") 
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

### String Functions

In [198]:
v1 = 'Rashad'
type(v1)

str

In [199]:
v1.strip('a')
v1

'Rashad'

In [200]:
mystr2 = "   Hello Everyone  "
mystr2

'   Hello Everyone  '

In [201]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [202]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

'   Hello Everyone'

In [203]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone  '

In [204]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [205]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [206]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [207]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [208]:
mystr2 = "   Hello Everyone  "

In [209]:
mystr2.lower() # Return whole string in lowercase

'   hello everyone  '

In [210]:
mystr2.upper() # Return whole string in uppercase

'   HELLO EVERYONE  '

In [211]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

'   Hollo Everyone  '

In [212]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [213]:
mystr5 = "one two Three one two two three"

In [214]:
mystr5.count("two") # Number of times substring "one" occurred in string.

3

In [215]:
f = '1 2 1 5 4 7 1 1 1 4 5'
f.count('1')

5

In [216]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [217]:
d = 'Aysel Mehdiyeva'
d.endswith('Mehdiyeva')

True

In [218]:
mystr5.startswith("one")  # Return boolean value True if string starts with "one"

True

In [219]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [220]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [221]:
mylist = mystr4.split() # Split String into substrings
mylist[2:]

['three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [222]:
shampoo = 5
soap = 2
bread = 0.7

report = "Prices of shampoo, soap and bread are {}, {} and {}"
print(report.format(shampoo, soap, bread))

Prices of shampoo, soap and bread are 5, 2 and 0.7

In [223]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item1 , item2 and item3 are {} , {} and {}"

print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [224]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"

print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [225]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character as the fill character.
print(str2)

                                          WELCOME EVERYONE

In [226]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character ('*') as the fill character.
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [227]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the fill character.
print(str2)

                                 WELCOME EVERYONE

In [228]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*') as the fill character.
print(str2)

******************************** WELCOME EVERYONE

In [229]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [230]:
str4[19:23]

'five'

In [231]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [232]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum())  # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [233]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum())  # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [234]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum())  # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [235]:
mystr7 = 'ABCDEF'
print(mystr7.isupper())  # Returns True if all the characters are in upper case
print(mystr7.islower())  # Returns True if all the characters are in lower case

True
False

In [236]:
mystr8 = 'abcdef'
print(mystr8.isupper())  # Returns True if all the characters are in upper case
print(mystr8.islower())  # Returns True if all the characters are in lower case

False
True

In [237]:
str6 = "one two three four one two two three five five six one ten eight ten nine eleven ten ten nine"

loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [238]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"

print(loc)

51

In [239]:
txt = "   abc def ghi   "

txt.rstrip()

'   abc def ghi'

In [240]:
txt = "   abc def ghi   "

txt.lstrip()

'abc def ghi   '

In [241]:
txt = "   abc def ghi   "

txt.strip()

'abc def ghi'

### Using Escape Character

In [242]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (739327747.py, line 2)

In [243]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

# List

1) List is an ordered sequence of items. 

2) We can have different data types under a list. E.g we can have integer, float and string items in a same list.

### List Creation

In [244]:
list1 = []      # Empty List

In [245]:
list2 = list(range(10))

In [246]:
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [247]:
print(type(list1))

<class 'list'>

In [254]:
list2 = ['ana', 30, 60.2, False]      # List of integers numbers

In [255]:
list2

['ana', 30, 60.2, False]

In [258]:
for dilare in list2:
    print(type(dilare))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [259]:
type(list2[0])

str

In [260]:
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [261]:
data["Height"][5]

13.6024

In [262]:
list2[1]

30

In [263]:
for i in enumerate(list2):
    print(i)

(0, 'ana')
(1, 30)
(2, 60.2)
(3, False)

In [264]:
type(list2[0])

str

In [265]:
list3 = [10.77, 30.66, 60.89]       # List of float numbers

In [266]:
print(list3)

[10.77, 30.66, 60.89]

In [267]:
list4 = ['one', 'two', "three"]   # List of strings

In [268]:
list4

['one', 'two', 'three']

In [269]:
list5 = ['NY', 25 , [50, 100], [150, 90, ['CA', 22]]]    # Nested Lists

In [270]:
list5

['NY', 25, [50, 100], [150, 90, ['CA', 22]]]

In [274]:
len(list5[3][2])

2

In [275]:
list5[3][2][0]

'CA'

In [276]:
yenilist = [2, ['David', [2,1,3,4]], 5.6]

In [278]:
for i in enumerate(yenilist):
    print(i)

(0, 2)
(1, ['David', [2, 1, 3, 4]])
(2, 5.6)

In [279]:
len(yenilist[1][1])

4

In [280]:
print(list5[3][1])

90

In [281]:
yenilist[1][0][0]*5

'DDDDD'

In [282]:
type(yenilist[1][0][0])

str

In [283]:
list5

['NY', 25, [50, 100], [150, 90, ['CA', 22]]]

In [284]:
list6 = [100, 'Asif', 17.765]   # List of mixed data types

In [285]:
Melumat = ['Baku', True, 10.2]
Melumat

['Baku', True, 10.2]

In [286]:
d = [type(Melumat[0]), type(Melumat[1]), type(Melumat[2])]
d

[str, bool, float]

In [287]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}]

In [288]:
len(list7) #Length of list

5

### List Indexing

<img src="list.PNG">

In [289]:
list2

['ana', 30, 60.2, False]

In [290]:
list2[0] # Retreive first element of the list

'ana'

In [291]:
list4

['one', 'two', 'three']

In [292]:
list4[0] # Retreive first element of the list

'one'

In [293]:
list4[1][1] # Nested indexing - Access the first character of the first list element

'w'

In [294]:
ad_familia = ['Aysel', 'Mehdiyeva']
ad_familia[0][4]

'l'

In [295]:
list4[-1] # Last item of the list

'three'

In [296]:
list5[-1]  # Last item of the list

[150, 90, ['CA', 22]]

In [297]:
list5

['NY', 25, [50, 100], [150, 90, ['CA', 22]]]

In [298]:
list5[-1][-1]

['CA', 22]

### List Slicing

In [299]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [300]:
mylist[0:4] 
# Return all items from 0th to 3rd index location excluding the item at loc 3.

['one', 'two', 'three', 'four']

In [301]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at loc 5.

['three', 'four', 'five']

In [302]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [303]:
mylist[:2]  # Return first two items

['one', 'two']

In [304]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [305]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [306]:
mylist[-1] # Return last item of the list

'eight'

In [307]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add , Remove & Change Items

In [308]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [309]:
mylist.append('nine') # Add an item to the end of the list  
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [310]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [311]:
mylist.insert(2,'Bunun burda ne isi var') # Add item at index location 1
mylist

['one',
 'two',
 'Bunun burda ne isi var',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [312]:
mylist.remove('nine') # Remove item "ONE"
mylist

['one',
 'two',
 'Bunun burda ne isi var',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'ten']

In [313]:
mylist.remove('Bunun burda ne isi var')

In [314]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten']

In [316]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [317]:
mylist.append(['nine', 'ten', 'eleven'])

In [318]:
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 ['nine', 'ten', 'eleven']]

In [319]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [320]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [321]:
# Change value of the string
mylist[0] = 'bir'
mylist[1] = 2
mylist[2] = 3
mylist

['bir', 2, 3, 'four', 'five', 'six', 'seven']

In [322]:
mylist.clear()  # Empty List / Delete all items in the list
mylist

[]

In [323]:
mylist.append('one')
mylist

['one']

In [324]:
mylist.append('one')
mylist

['one', 'one']

In [325]:
del mylist # Delete the whole list

In [326]:
mylist

NameError: name 'mylist' is not defined

### Copy List

In [327]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [328]:
mylist1 = mylist # Create a new reference "mylist1"

In [329]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [330]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same as both are pointing to same list.

(1334525177152, 1334525177152)

In [331]:
mylist2 = mylist.copy() # Create a copy of the list

In [332]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [333]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist2 is pointing to the copy of the existing list

1334524279552

In [334]:
mylist[0] = 1

In [335]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [336]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [337]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### Join Lists

In [338]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [339]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [340]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [341]:
mystr1 = ', '.join(list1)
mystr1

'one, two, three, four, five, six, seven, eight'

In [342]:
intput_str = ['Bu', 'gün', 'Bazar ertəsidir']

In [343]:
mystr = ', '.join(intput_str)
mystr

'Bu, gün, Bazar ertəsidir'

In [344]:
# Join Method
input_str = ["Hello" , "Good Morning" , "Everyone"]
mystr = ' , '.join(input_str)
mystr

'Hello , Good Morning , Everyone'

In [345]:
a = ['Salam', 'Dostlar']

In [346]:
str1 = ', '.join(a)
str1

'Salam, Dostlar'

In [347]:
str1.lower()

'salam, dostlar'

In [348]:
# Join Method
input_str = ["Hello" , "Good Morning" , "Everyone"]
mystr = ' '.join(input_str)
mystr

'Hello Good Morning Everyone'

In [349]:
ad = ['Salam', 'Bu', 'nedir?']
ad1 = '+'.join(ad)
ad1

'Salam+Bu+nedir?'

### List Membership

In [350]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [351]:
'one' in list1 # Check if 'one' exist in the list

True

In [352]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [353]:
i = 'three'
if i in list1: # Check if 'three' exist in the list
    print('Üç bu listdə var')
else:
    print('Get o yanda axtar')

Üç bu listdə var

In [354]:
if 'five' in list1:
    print('Orda 5 var')
else:
    print('Orda 5 yoxdur, o birine bax')

Orda 5 var

In [355]:
if 'eleven' in list1:  # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

### Reverse & Sort List

In [356]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [357]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [358]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [359]:
a = list1[2:6:]
a

['three', 'four', 'five', 'six']

In [360]:
mylist3 = [9,5,2,99,12,88,34]

In [361]:
mylist3.sort()   # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [362]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)  # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [363]:
mylist4 = [88,65,33,21,11,98]
d = sorted(mylist4)        # Returns a new sorted list and doesn't change original list

In [364]:
mylist4

[88, 65, 33, 21, 11, 98]

In [365]:
d

[11, 21, 33, 65, 88, 98]

### Loop through a list

In [366]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [367]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [368]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three', 'one']

In [369]:
import numpy

In [370]:
len(numpy.unique(list10))

4

In [371]:
list10.count('one') # Number of times item "one" occurred in the list.

4

In [372]:
list10.count('two') # Occurence of item 'two' in the list

2

In [373]:
list10.count('four') #Occurence of item 'four' in the list

1

### All / Any

The __all()__ method returns:

- __True__ - If all elements in a list are true
- __False__ - If any element in a list is false


The __any()__ function returns True if any element in the list is True. If not, any() returns False.

In [374]:
L1 = [1,2,3,4,0]

In [375]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [376]:
any(L1)  # Will Return True as we have items in the list with True value

True

In [377]:
L2 = [1,2,3,4,True,False]

In [378]:
all(L2) # Returns false as one value is false

False

In [379]:
any(L2)  # Will Return True as we have items in the list with True value

True

In [380]:
L3 = [1,2,3,True]

In [381]:
all(L3) # Will return True as all items in the list are True

True

In [382]:
any(L3) # Will Return True as we have items in the list with True value

True

### List Comprehensions

- List Comprehensions provide an elegant way to create new lists.

- It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [383]:
mystring = "AISEL MEHDIEVA"

In [384]:
mylist = [ i for i in mystring ] # Iterating through a string Using List Comprehension
mylist

['A', 'I', 'S', 'E', 'L', ' ', 'M', 'E', 'H', 'D', 'I', 'E', 'V', 'A']

In [385]:
mylist[1]

'I'

In [386]:
mylist1 = [ i for i in range(40) if i % 2 == 1] # Display all even numbers between 0 - 40 using List Comprehension
mylist1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [387]:
my_list = [A for A in range(100) if A % 5 == 0]
my_list

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [388]:
mylist2 = [ i for i in range(40) if i % 2 == 1] # Display all odd numbers between 0 - 40 using List Comprehension
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [391]:
mylist3 = [num**2 for num in range(2,7,2)] # calculate square of all numbers between 0 - 10 using List Comprehension
mylist3

[4, 16, 36]

<img src="Lcomprehension.PNG">

In [392]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
new_list1 = [i*10 for i in list1]
new_list1

[20, 30, 40, 50, 60, 70, 80]

In [393]:
list7 = [5, 7, 9, 10, 15, 19]
aysel = [num/2 for num in list7]
print(aysel)

[2.5, 3.5, 4.5, 5.0, 7.5, 9.5]

In [394]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehension
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [395]:
# Odd even test
l1 = [print("{} is Even Number".format(i)) if i%2 == 0 else print("{} is odd number".format(i)) for i in range(10)]

0 is Even Number
1 is odd number
2 is Even Number
3 is odd number
4 is Even Number
5 is odd number
6 is Even Number
7 is odd number
8 is Even Number
9 is odd number

In [396]:
for i in range(10):
    if i == 0:
        print("{} is niether even nor odd".format(i))
    elif i % 2 == 0:
        print("{} is Even number".format(i))
    else:
        print("{} is Odd number".format(i))

0 is niether even nor odd
1 is Odd number
2 is Even number
3 is Odd number
4 is Even number
5 is Odd number
6 is Even number
7 is Odd number
8 is Even number
9 is Odd number

In [397]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [398]:
type(numbers[0])

str

In [399]:
# Extract letters from a string

mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

In [400]:
# If else in List Comprehension
list1 = ['XS' , 'S', 'M' , 'L' , 'XL']

['Extra Small' if i =='XS' else ('Small' if i =='S' else ('Medium' if i =='M' 
                                                          else ('Large' if i=='L' else 'Extra Large')))  for i in list1]

['Extra Small', 'Small', 'Medium', 'Large', 'Extra Large']

# Tuples

1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned. 

2. When we do not want to change the data over time, tuple is a preferred data type.

3. Iterating over the elements of a tuple is faster compared to iterating over a list.

### Tuple Creation

In [ ]:
tup1 = ()      # Empty tuple

In [ ]:
tup2 = (10,30,60)      # tuple of integers numbers

In [ ]:
tup3 = (10.77,30.66,60.89)       # tuple of float numbers

In [ ]:
tup4 = ('one','two' , "three")   # tuple of strings

In [ ]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90))   # Nested tuples

In [ ]:
tup6 = (100, 'Asif', 17.765)   # Tuple of mixed data types

In [ ]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [ ]:
len(tup7) #Length of list

### Tuple Indexing

In [ ]:
tup2[0] # Retreive first element of the tuple

In [ ]:
tup4[0] # Retreive first element of the tuple

In [ ]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple element

In [ ]:
tup4[-1] # Last item of the tuple

In [ ]:
tup5[-1]  # Last item of the tuple

### Tuple Slicing

In [ ]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item at loc 3.

In [ ]:
mytuple[2:5] # List all items from 2nd to 5th index location excluding the item at loc 5.

In [ ]:
mytuple[:3] # Return first three items

In [ ]:
mytuple[:2]  # Return first two items

In [ ]:
mytuple[-3:] # Return last three items

In [ ]:
mytuple[-2:] # Return last two items

In [ ]:
mytuple[-1] # Return last item of the tuple

In [ ]:
mytuple[:] # Return whole tuple

### Remove & Change Items

In [ ]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple

In [ ]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

In [ ]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

In [ ]:
del mytuple # Deleting entire tuple object is possible

### Loop through a tuple

In [ ]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple

In [ ]:
for i in mytuple:
    print(i)

In [ ]:
for i in enumerate(mytuple):
    print(i)

### Count

In [ ]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [ ]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

In [ ]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

In [ ]:
mytuple1.count('four') #Occurence of item 'four' in the tuple

### Tuple Membership

In [ ]:
mytuple

In [ ]:
'one' in mytuple # Check if 'one' exist in the list

In [ ]:
'ten' in mytuple # Check if 'ten' exist in the list

In [ ]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

In [ ]:
if 'eleven' in mytuple:  # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

### Index Position

In [ ]:
mytuple

In [ ]:
mytuple.index('seven') # Index of first element equal to 'one'

In [ ]:
mytuple.index('Rahid') # Index of first element equal to 'five'

In [ ]:
mytuple1

In [ ]:
mytuple1.index('one') # Index of first element equal to 'one'

### Sorting

In [ ]:
mytuple2 = (43,67,99,12,6,90,67)

In [ ]:
sorted(mytuple2)  # Returns a new sorted list and doesn't change original tuple

In [ ]:
sorted(mytuple2, reverse=True) # Sort in descending order

# Sets

1) Unordered & Unindexed collection of items.

2) Set elements are unique. Duplicate elements are not allowed.

3) Set elements are immutable (cannot be changed).

4) Set itself is mutable. We can add or remove items from it.

### Set Creation

In [ ]:
myset = {1,2,3,4,5} # Set of numbers
myset

In [ ]:
len(myset) #Length of the set

In [ ]:
my_set = {1,1,2,2,3,4,5,5,5}
my_set                    # Duplicate elements are not allowed.

In [ ]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

In [ ]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

In [ ]:
myset3 = {10, 20, "Hello", (11, 22, 32)} # Mixed datatypes
myset3

In [ ]:
myset3 = {10,20, "Hello", [11, 22, 32]} # set doesn't allow mutable items like lists
myset3

In [ ]:
myset4 = set() # Create an empty set
print(type(myset4))

In [ ]:
a = (10, 20, [10, 20])

In [ ]:
a[2].insert(20, 30)

In [ ]:
a

In [ ]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

### Loop through a Set

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

In [ ]:
for i in enumerate(myset):
    print(i)

### Set Membership

In [ ]:
myset

In [ ]:
'one' in myset # Check if 'one' exist in the set

In [ ]:
'ten' in myset # Check if 'ten' exist in the set

In [ ]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

In [ ]:
if 'eleven' in myset:  # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

### Add & Remove Items

In [ ]:
myset

In [ ]:
myset.add('NINE') # Add item to a set using add() method
myset

In [ ]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])  # Add multiple item to a set using update() method
myset

In [ ]:
myset.remove('NINE') # remove item in a set using remove() method
myset

In [ ]:
myset.discard('TEN') # remove item from a set using discard() method
myset

In [ ]:
myset.clear() # Delete all items in a set
myset

In [ ]:
del myset # Delete the set object
myset

### Copy Set

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

In [ ]:
myset1 = myset  # Create a new reference "myset1" 
myset1

In [ ]:
id(myset) , id(myset1)  # The address of both myset & myset1 will be the same as both are pointing to same set.

In [ ]:
my_set = myset.copy() # Create a copy of the list
my_set

In [ ]:
id(my_set) # The address of my_set will be different from myset because my_set is pointing to the copy of the existing set.

In [ ]:
myset.add('nine')
myset

In [ ]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

In [ ]:
my_set # Copy of the set won't be impacted due to changes made on the original Set.

### Set Operation

#### Union

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [ ]:
A | B  # Union of A and B (All elements from both sets. NO DUPLICATES)

In [ ]:
A.union(B) # Union of A and B

In [ ]:
A.union(B, C)  # Union of A, B and C.

In [ ]:
"""
Updates the set calling the update() method with union of A , B & C. 

For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

<img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Venn0111.svg">

#### Intersection

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A & B  # Intersection of A and B (Common items in both sets)

In [ ]:
A.intersection(B)  #Intersection of A and B

In [ ]:
X = {'Ali', 'Rasul', 'John'}
Y = {'John', 'Thomas'}

In [ ]:
X.intersection(Y)

In [ ]:
"""
Updates the set calling the intersection_update() method with the intersection of sets.

For below example Set A will be updated  with the intersection of A & B.
"""
A.intersection_update(B)
A

<img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Venn0001.svg">

#### Difference

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A - B  # set of elements that are only in A but not in B

In [ ]:
A.difference(B) # Difference of sets

In [ ]:
B- A  # set of elements that are only in B but not in A

In [ ]:
B.difference(A)

In [ ]:
"""
Updates the set calling the difference_update() method with the difference of sets.

For below example Set B will be updated  with the difference of B & A.
"""
B.difference_update(A)
B

<img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Venn0010.svg">

#### Symmetric Difference

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUDING THE INTERSECTION").

In [ ]:
myset3 = A ^ B
myset3

In [ ]:
A.symmetric_difference(B)  # Symmetric difference of sets

In [ ]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetric difference of sets.

For below example Set A will be updated  with the symmetric difference of A & B.
"""

A.symmetric_difference_update(B)
A

<img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Venn0110.svg">

### Subset , Superset & Disjoint

In [ ]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [ ]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are in A.

In [ ]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B are in A.

In [ ]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements.

In [ ]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements.

### Other Builtin functions

In [ ]:
A

In [ ]:
sum(A)

In [ ]:
max(A)

In [ ]:
min(A)

In [ ]:
len(A)

In [ ]:
list(enumerate(A))

In [ ]:
D= sorted(A,reverse = True)
D

In [ ]:
sorted(A)

# Dictionary

- Dictionary is a mutable data type in Python. 

- A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.

- Keys must be unique in a dictionary, duplicate values are allowed.

<img src="dict.PNG">

### Create Dictionary

In [ ]:
mydict = dict() # empty dictionary
mydict

In [ ]:
mydict = {}   # empty dictionary
mydict

In [ ]:
print(type(mydict))

In [ ]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

In [ ]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

In [ ]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

In [ ]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

In [ ]:
mydict1 = {'Aysel': 1997, 'Shaig': 1981, 'John': 1990}
mydict1

In [ ]:
mydict1.items()

In [ ]:
mydict.keys() # Return Dictionary Keys using keys() method

In [ ]:
mydict.values() # Return Dictionary Values using values() method

In [ ]:
mydict.items() # Access each key-value pair within a dictionary

In [ ]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with mixed keys
mydict

In [ ]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'],  'B':('Bat' , 'cat' , 'hat')} # dictionary with mixed keys
mydict

In [ ]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20},  'B':('Bat' , 'cat' , 'hat')} # dictionary with mixed keys
mydict

In [ ]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)   # Create a dictionary from a sequence of keys
mydict3

In [ ]:
keys = {'Aysel', 'Shaig', 'John'}
values = [1997, 1981, 1990]
mydict4 = dict.fromkeys(keys)

In [ ]:
mydict4

In [ ]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value)  # Create a dictionary from a sequence of keys with value
mydict3

In [ ]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value)  # Create a dictionary from a sequence of keys with value list
mydict3

In [ ]:
value.append(40)
mydict3

In [ ]:
mydict3.update({'c': mydict3.get('c', []) + ['50']})
mydict3

### Accessing Items

In [ ]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

In [ ]:
mydict[1] # Access item using key

In [ ]:
mydict.get(1) # Access item using get() method

In [ ]:
mydict1 = {'Name':'Aysel' , 'ID': 12587 , 'DoB': 1997 , 'job' :'Analyst', 'Address': 'Sumgait'}
mydict1

In [ ]:
mydict1['Name']  # Access item using key

In [ ]:
mydict1.get('job')  # Access item using get() method

In [ ]:
mydict1.get('DoB')

### Add, Remove & Change Items

In [ ]:
mydict1

In [ ]:
mydict1['ID'] = 424344  # Changing Dictionary Items
mydict1['Address'] = 'Berlin'
mydict1

In [ ]:
dict1 = {'DoB':1997}
mydict1.update(dict1)
mydict1

In [ ]:
mydict1['WorkPlace'] = 'Yasamal' # Adding items in the dictionary
mydict1

In [ ]:
mydict1.pop('job') # Removing items in the dictionary using Pop method
mydict1

In [ ]:
mydict1.popitem() # A random item is removed

In [ ]:
mydict1

In [ ]:
del[mydict1['ID']] # Removing item using del method
mydict1

In [ ]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

In [ ]:
del mydict1 # Delete the dictionary object
mydict1

### Copy Dictionary

In [ ]:
mydict = {'Name':'Aysel' , 'ID': 12587 , 'DoB': 1997 , 'job' :'Analyst', 'Address': 'Sumgait'}
mydict

In [ ]:
mydict1 = mydict # Create a new reference "mydict1"

In [ ]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same as both are pointing to same dictionary.

In [ ]:
id(mydict) == id(mydict1)

In [ ]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [ ]:
id(mydict2) # The address of mydict2 will be different from mydict because mydict2 is pointing to the copy of the existing dict.

In [ ]:
mydict['Address'] = 'Mumbai'

In [ ]:
mydict

In [ ]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

In [ ]:
mydict2 # Copy of list won't be impacted due to the changes made in the original dictionary

### Loop through a Dictionary

In [ ]:
mydict = {'Name':'Aysel' , 'ID': 12587 , 'DoB': 1997 , 'job' :'Analyst', 'Address': 'Sumgait'}
mydict

In [ ]:
for i in mydict:
    print(i , ':' , mydict[i]) # Key & value pair

In [ ]:
for i in mydict:
    print(mydict[i]) # Dictionary items

### Dictionary Membership

In [ ]:
mydict = {'Name':'Aysel' , 'ID': 12587 , 'DoB': 1997 , 'job' :'Analyst', 'Address': 'Sumgait'}
mydict

In [ ]:
'Name' in mydict # Test if a key is in a dictionary or not.

In [ ]:
'Asif' in mydict  # Membership test can be only done for keys.

In [ ]:
'ID' in mydict

In [ ]:
'Address' in mydict

### All / Any

The __all()__ method returns:

- __True__ - If all all keys of the dictionary are true
- __False__ - If any key of the dictionary is false


The __any()__ function returns True if any key of the dictionary is True. If not, any() returns False.

In [ ]:
mydict1 = {'Name':'Rahid' , 'ID': 12345 , 'DOB': 1988 , 'Address' : 'Hovsan' , 'Job': 'Analyst'}
mydict1

In [ ]:
all(mydict1) # Will Return false as one value is false (Value 0)

In [ ]:
any(mydict1)  # Will Return True as we have items in the dictionary with True value

In [ ]:
mydict1[0] = 'test1'
mydict1

In [ ]:
all(mydict1) # Returns false as one value is false

In [ ]:
any(mydict1)  # Will Return True as we have items in the dictionary with True value

### Dictionary Comprehension

In [ ]:
double = {i:i*2 for i in range(10)} #double each value using dict comprehension
double

In [ ]:
square = {i:i**2 for i in range(10)}
square

<img src="Dcomprehension.PNG">

In [ ]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]

mydict = {k:v for (k,v) in zip(key,value)} # using dict comprehension to create dictionary
mydict

In [ ]:
mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()} # Divide all values in a dictionary by 10
mydict1

In [ ]:
str1 = "Natural Language Processing"

mydict2 = {k:v for (k,v) in enumerate(str1)} # Store enumerated values in a dictionary
mydict2

In [ ]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1} # Lower to Upper Case
mydict3

### Word Frequency using dictionary

In [ ]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [ ]:
mylist = mystr4.split() # Split String into substrings
mylist

In [ ]:
mylist1 = set(mylist) # Unique values in a list
mylist1 = list (mylist1)
mylist1

In [ ]:
# Calculate frequent of each word
count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

# Operators

- __Operators are special symbols in Python which are used to perform operations on variables/values.__

### Arithmetic Operators

In [ ]:
a = 5
b = 2

x = 'Aysel'
y = 'Mehdiyeva'

# Addition
c = a + b
print('Addition of {} and {} will give : {}\n'.format(a,b,c))

#Concatenate string using plus operator
z = x+' '+y
print ('Concatenate string \'x\' and \'y\' using \'+\' operaotr : {}\n'.format(z))
  
# Subtraction
c = a - b
print('Subtracting {} from {} will give : {}\n'.format(b,a,c))
  
# Multiplication
c = a * b  
print('Multiplying {} and {} will give : {}\n'.format(a,b,c))
  
# Division
c = a / b
print('Dividing {} by {} will give : {}\n'.format(a,b,c))
  
# Modulo of both number  
c = a % b
print('Modulo of {} , {} will give : {}\n'.format(a,b,c))
  
# Power 
c = a ** b 
print('{} raised to the power {} will give : {}\n'.format(a,b,c))

# Division(floor)
c = a // b
print('Floor division of {} by {} will give : {}\n'.format(a,b,c))

### Comparison Operators

Comparison operators are used to compare values.

In [ ]:
x = 20
y = 30

print('Is x greater than y :- ',x > y)

print('\nIs x less than  y :- ',x < y)

print('\nIs x equal to  y :- ',x == y)

print('\nIs x not equal to y :- ',x!=y)

print('\nIs x greater than or equal to y :- ',x >= y)

print('\nIs x less than or equal to y :- ',x <= y)

In [ ]:
a = 'Rahid'
b = 'Babayev'
c = 'Rahid'

a == b , a ==c , a != b # Comparison operators on string

### Logical Operators

In [ ]:
x = True
y = False

print('Logical AND operation :- ',x and y) # True if both values are true
print('Logical OR operation :- ',x or y) # True if either of the values is true
print('NOT operation :- ',not x ) # True if operand is false

### Bitwise operators

__Bitwise operators act on bits and performs bit by bit operation.__

In [ ]:
x = 18  # binary form 10010
y = 6  # binary form 00110

print('Bitwise AND operation - {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))
print('Bitwise XOR operation - {}'.format(x^y))
print('Bitwise NOT operation - {}'.format(~x))
print('Bitwise right shift operation - {}'.format(x>>2))
print('Bitwise left shift operation - {}'.format(x<<2))

### Assignment Operators

In [ ]:
x = 80
x -= 20
print(x)

In [ ]:
x = 10

print('Initialize x with value 10 (x=10)) :- ',x)


x+=20 # x = x+20
print ('Add 20 to x :- ',x)


x-=20 # x = x-20
print ('subtract 20 from x :- ',x)


x/=10 # x = x/10
print ('Divide x by 10 :- ',x)



x*=10 # x = x/10
print ('Multiply x by 10 :- ',x)

x = int(x)


x**=2 # x = x/10
print ('x raised to the power 2 :- ',x)



x%=2
print ('Modulo Division :- ',x)


x = 20


x//=3
print ('Floor Division :- ',x)


x&=2
print('Bitwise AND :- ',x)


x|=2
print('Bitwise OR :- ',x)


x^=2
print('Bitwise XOR :- ',x)


x = 10


x<<=2
print('Bitwise left shift operation',x)


x>>=2
print('Bitwise right shift operation',x)

### Membership Operators

__Membership Operators are used to test whether a value / variable is present in a sequence.__

In [ ]:
mystr = 'Rahid Babayev Hovsanli'

'Rahid' in mystr , 'John' in mystr

In [ ]:
mystr = 'Rahid Babayev Hovsanli'

'Rahid' not in mystr , 'John' not in mystr

# Functions

- A function is a block of organized code written to carry out a specified task.

- Functions help break our program into smaller and modular chunks for better readability. 

- Information can be passed into a function as arguments.

- Parameters are specified after the function name inside the parentheses. 

- We can add as many parameters as we want. Parameters must be separated with a comma.

- A function may or may not return data.

- In Python a function is defined using the __def__ keyword

### Parameter VS Argument

 - A parameter is the variable listed inside the parentheses in the function definition.

 - An argument is the value that is sent to the function when it is called.

### Three types of functions in Python:-

- __Built-in function :-__  Python predefined functions that are readily available for use like min() , max() , sum() , print() etc.

- __User-Defined Functions:-__ Function that we define ourselves to perform a specific task.

- __Anonymous functions :__ Function that is defined without a name. Anonymous functions are also called as lambda functions. They are not declared with the __def__ keyword.

### Syntax

In [ ]:
max([2,5,7,11])

<img src="functions.PNG">

### Modularity

<img src="modularity.PNG">

In [ ]:
def myfunc():
  print("Hello Python Lovers")

myfunc()

In [ ]:
def details(name, userid, country): # Function to print User details
    print('Name :- ', name)
    print('User ID is :- ', userid)
    print('Country :- ', country)
    
details('Aysel' , 'aysel123' , 'Azerbaijan')

In [ ]:
def Aysel (n): #function to find square of a number
    n = n**3
    return n

In [ ]:
Aysel(5)

In [ ]:
def even_odd (num): #Even odd test
    """ This function will check whether a number is even or odd"""
    if num == 0:
        print(num, 'is niether even nor odd')
    elif num % 2 == 0:
        print (num, 'is even number')
    else:
        print (num, 'is odd number')

In [ ]:
even_odd(0)

In [ ]:
def check_neighborhood_of_Aisel (val1):
    '''This function checks the people neighborhood of Aisel'''
    if val1 == 'Sumgait':
        print('This is in Aisel neighborhood')
    else:
        print('This is in somewhere')

In [ ]:
check_neighborhood_of_Aisel('Baku')

In [ ]:
print(check_neighborhood_of_Aisel.__doc__)

In [ ]:
print(even_odd.__doc__) # Print function documentation string

In [ ]:
def fullname (firstname , lastname): #Concatenate Strings
    fullname = "{} {}".format(firstname, lastname)
    print(fullname)

In [ ]:
fullname('Aisel', 'Mehdiyeva')

In [ ]:
def fullname (firstname , middlename ,lastname): #Concatenate Strings
    fullname = "{} {} {}".format(firstname,middlename,lastname)
    print (fullname)

fullname(lastname = 'Mehdiyeva', middlename = 'Shahin' , firstname = 'Aisel') # Keyword Arguments. Order of the arguments does not matter.

In [ ]:
fullname ('Aisel') # This will throw error as function is expecting 3 arguments.

In [ ]:
def myfunc(city = 'Baku'):
    print('The capital of Azerbaijan : ', city)
    
myfunc() # When a function is called without an argument it will use default value

In [ ]:
var1 = 100 # Variable with Global scope.

def myfunc():
    print(var1) # Value 100 will be displayed due to global scope of var1

    
myfunc()
print(var1)

In [ ]:
def myfunc1():
    var2 = 10  # Variable with Local scope
    print(var2)


def myfunc2():
    print(var2) # This will throw error because var2 has a local scope. Var2 is only accessible in myfunc1()

myfunc1()
myfunc2()

In [ ]:
var1 = 100 # Variable with Global scope.

def myfunc():
    var1 = 99  # Local scope
    print(var1)

    
myfunc()  
print(var1) # The original value of var1 (100) will be retained due to global scope.

In [ ]:
list1 = [11,22,33,44,55]

def myfunc(list1):
    del list1[0]

print('"List1" before calling the function:- ',list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the function is reflected back in the calling function.)
print('"List1" after calling the function:- ',list1)

In [ ]:
list1 = [11,22,33,44,55]

def myfunc(list1):
    list1.append(100)

print('"List1" before calling the function:- ',list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the function is reflected back in the calling function.)
print('"List1" after calling the function:- ',list1)

In [ ]:
list1 = [11,22,33,44,55]

def myfunc(list1):
    list1 = [10,100,1000,10000] # link of 'list1' with previous object is broken now as new object is assigned to 'list1'.

print('"List1" before calling the function:- ',list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the function is reflected back in the calling function.)
print('"List1" after calling the function:- ',list1)

In [ ]:
def swap(a, b):
    temp = a
    a = b      # link of 'a' with previous object is broken now as new object is assigned to 'a'. 
    b = temp   # link of 'b' with previous object is broken now as new object is assigned to 'b'. 

a = 10
b = 20
swap(a,b)
a,b

In [ ]:
def factorial(num):  # Calculate factorial of a number using recursive function call.
    if num <=1 :
        return 1
    else:
        return num * factorial(num-1)

In [ ]:
factorial(5)

In [ ]:
def add(num):  # Sum of first n natural numbers
    if num == 0:
        return 0
    else:
        return num + add(num - 1)

add(5) # Sum of first five natural numbers (1,2,3,4,5)

In [ ]:
def fibonacci(num):
    if num <= 1:
        return num
    if num == 2:
        return 1
    else:  
        return(fibonacci(num-1) + fibonacci(num-2))  

nums = int(input("How many fibonacci numbers you want to generate -"))



for i in range(nums):
    print(fibonacci(i))  # Generate Fibonacci series

# args & kwargs

 *__args__
- When we are not sure about the number of arguments being passed to a function then we can use *args as function parameter.

- *args allow us to pass the variable number of __Non Keyword Arguments__ to function.

- We can simply use an asterisk * before the parameter name to pass variable length arguments.

- The arguments are always passed as a tuple.

- We can rename it to anything as long as it is preceded by a single asterisk (*). It's best practice to keep naming it args to make it immediately recognizable.

__**kwargs__
- **kwargs allows us to pass the variable number of __Keyword Arguments__ to the function.

- We can simply use an double asterisk ** before the parameter name to pass variable length arguments.

- The arguments are passed as a dictionary.

- We can rename it to anything as long as it is preceded by a double asterisk (**). It's best practice to keep naming it kwargs to make it immediately recognizable.

<img src="argument.PNG">

In [ ]:
def add(a,b,c):
    return a+b+c
    
print(add(10,20,30)) # Sum of two numbers

In [ ]:
print(add(1,2,3,4)) '''This will throw below error as this function will only take two argumengts. 
If we want to make argument list dynamic then *args wil come in picture'''

In [ ]:
def some_args(arg_1, arg_2, arg_3):
    print("arg_1:", arg_1)
    print("arg_2:", arg_2)
    print("arg_3:", arg_3)

my_list = [2, 3]
some_args(1, *my_list)

In [ ]:
def add1(*args):
    return sum(args)

print(add(1,2,3))
print(add(1,2,3))  # *args will take dynamic argument list. So add() function will perform addition of any number of arguments
print(add(1,2,3,4,5))
print(add(1,2,3,4,5,6))
print(add(1,2,3,4,5,6,7))

In [ ]:
list1 = [1,2,3,4,5,6,7]
tuple1 = (1,2,3,4,5,6,7)

add1(*list1) , add1(*tuple1) #tuple & list items will be passed as argument list and sum will be returned for both cases.

In [ ]:
list1 = [1,2,3,4,5,6,7]
list2 = [1,2,3,4,5,6,7]
list3 = [1,2,3,4,5,6,7]
list4 = [1,2,3,4,5,6,7]

add1(*list1 , *list2 , *list3 , *list4 ) #All four lists are unpacked and each individual item is passed to add1() function

In [ ]:
def UserDetails(*args):
    print(args)

UserDetails('Asif' , 7412 , 41102 , 33 ,  'India' , 'Hindi')

''' For the above example we have no idea about the parameters passed e.g 7412 , 41102 , 33 etc.
    In such cases we can take help of Keyworded arguments (**kwargs) '''

In [ ]:
def UserDetails(**kwargs):
    print(kwargs)

UserDetails(Name='Asif' , ID=7412 , Pincode=41102 , Age= 33 ,  Country= 'India' , Language= 'Hindi')

In [ ]:
def UserDetails(**kwargs):
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))

UserDetails(Name='Asif' , ID=7412 , Pincode=41102 , Age= 33 ,  Country= 'India' , Language= 'Hindi')

In [ ]:
mydict = {'Name': 'Asif', 'ID': 7412, 'Pincode': 41102, 'Age': 33, 'Country': 'India', 'Language': 'Hindi'}

UserDetails(**mydict)

In [ ]:
def UserDetails(licenseNo,  *args , phoneNo=0 , **kwargs): # Using all four arguments types
    print('License No :- ', licenseNo)
    j=''
    for i in args:
        j = j+i
    print('Full Name :-',j)
    print('Phone Number:- ',phoneNo)
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))
        
        
name = ['Asif' , ' ' , 'Ali' , ' ','Bhat']
mydict = {'Name': 'Asif', 'ID': 7412, 'Pincode': 41102, 'Age': 33, 'Country': 'India', 'Language': 'Hindi'}

UserDetails('BHT145' , *name , phoneNo=1234567890,**mydict )

In [ ]:
def UserDetails(licenseNo, *args , phoneNo=0, **kwargs): # Using all four arguments types. CORRECT ORDER
    print('Nothing')

In [ ]:
def UserDetails(licenseNo, **kwargs , *args): # This will fail. *args MUST come before **kwargs in the argument list
    print('Nothing')

In [ ]:
#The below function will fail. Default argument/positional argument (licenseNo) MUST come before Keyword argument(ID)
def UserDetails(ID = 1, licenseNo, *args):
    print('Nothing')

# Lambda, Filter, Map and Reduce

__Lambda__

- A lambda function is an anonymous function (function without a name).


- Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. 


- We use lambda functions when we require a nameless function for a short period of time.


__Syntax:-__

<img src="lambda1.PNG">

__Filter__


- It is used to filter the iterables/sequence as per the conditions. 


- Filter function filters the original iterable and passes the items that returns True for the function provided to filter. 


- It is normally used with Lambda functions to filter list, tuple, or sets.



filter() method takes two parameters:

- __function__ - function tests if elements of an iterable returns true or false

- __iterable__ - Sequence which needs to be filtered, could be sets, lists, tuples, or any iterators




__Syntax:__

<img src="filter.PNG">

__Map__

- The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results.




map() function takes two Parameters :

-   __function__ :  The function to execute for each item of given iterable.


-   __iterable__ : It is a iterable which is to be mapped.


__Returns__ : Returns a list of the results after applying the given function to each item of a given iterable (list, tuple etc.)

__Syntax:__

<img src="map.PNG">

__Reduce__

- The reduce() function is defined in the __functools__ python module.The reduce() function receives two arguments, a function and an iterable. However, it doesn't return another iterable, instead it returns a single value.


__Working:__

 1)  Apply a function to the first two items in an iterable and generate a partial result.

 2)  The function is then called again with the result obtained in __step 1__ and the next value in the sequence. This process keeps on repeating until there are items in the sequence.

 3)  The final returned result is returned and printed on console.



__Syntax:__

<img src="reduce.PNG">

In [ ]:
addition = lambda a : a + 10  # This lambda function adds value 10 to an argument.
print(addition(25))

In [ ]:
substraction = lambda x : x - 5
substraction(21)

In [ ]:
product = lambda a, b : a * b #This lambda function takes two arguments (a,b) and returns their product (a*b).
print(product(5, 6))

In [ ]:
addition = lambda a, b, c : a + b + c  #This lambda function takes three arguments (a,b,c) and returns their sum (a+b+c).
print(addition(5, 6, 2))

In [ ]:
res = (lambda *args: sum(args))  # This lambda function can take any number of arguments and return thier sum.
res(10,20) , res(10,20,30,40) ,  res(10,20,30,40,50,60,70)

In [ ]:
res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take any number of arguments and return thier sum.
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

In [ ]:
res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take any number of arguments and return thier sum.
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

In [ ]:
# User defined function to find product of numbers
def product(nums):  
    total = 1
    for i in nums:
        total *= i  
    return total

# This lambda function can take any number of arguments and return thier product.
res1 = (lambda **kwargs: product(kwargs.values())) 
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

In [ ]:
def myfunc(n):
  return lambda a : a + n

add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)

print(add10(5))
print(add20(5))
print(add30(5))

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]

def odd(n):
    if n%2 ==1: return True
    else: return False
    
odd_num = list(filter(odd,list1)) # This Filter function filters list1 and passes all odd numbers to filter().
odd_num

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
# The below Filter function filters "list1" and passes all odd numbers using lambda function to filter().
odd_num = list(filter(lambda n: n%2 ==1 ,list1)) 
odd_num

In [ ]:
def twice(n):
    return n*2
  
doubles = list(map(twice,odd_num)) # The map function will apply user defined "twice()" function on all items of the list
doubles

In [ ]:
doubles = list(map(lambda n:n*2,odd_num)) # This map function will double all items of the list using lambda function.
doubles

In [ ]:
from functools import reduce

def add(a,b):
    return a+b
  
sum_all = reduce(add,doubles) # This reduce function will perform sum of all items in the list using user defined "add()" func.
sum_all

In [ ]:
#The below reduce() function will perform sum of all items in the list using lambda function.
sum_all = reduce(lambda a,b : a+b,doubles)
sum_all

In [ ]:
# Putting all together 

sum_all = reduce(lambda a,b : a+b,list(map(lambda n:n*2,list(filter(lambda n: n%2 ==1 ,list1)))))
sum_all

<img src="fmr.PNG">

In [ ]:
# More examples on Map , Filter , Reduce

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n: n%2 ==0 ,list1)) # Filter even numbers from the list
odd =  list(filter(lambda n: n%2 !=0 ,list1))   # Filter odd numbers from the list

print('--------')
print(even)
print(odd)
print('--------')

list2 = ['one' , 'TWO' , 'three' , 'FOUR']

upper = list(filter(lambda x: x.isupper() , list2)) # filter uppercase strings from the list

lower = list(filter(lambda x: x.islower() , list2)) # filter lowercase strings from the list


print(upper)
print(lower)
print('--------')

list3 = ['one' , 'two2' , 'three3' ,'88' , '99' , '102']

numeric = list(filter(lambda x:x.isnumeric(), list3))  # filter numbers from the list

alpha = list(filter(lambda x:x.isalpha(), list3))      # filter character strings from the list

alphanum = list(filter(lambda x:x.isalnum(), list3)) # filtr numbers & character strings from the list


print(alpha)
print(numeric)
print(alphanum)
print('--------')


#Vowel Test

In [ ]:
# Filter example with & operation
list1 = ['soap','sharp','Shy','silent','ship','summer','sheep']
list(filter(lambda x : x.startswith('s') & x.endswith('p'),list1))

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

def double(x):
    return x+x

def add(x,y):
    return x+y

def square(x):
    return x*x

print('---------------')

print(list(map(double, list1))) # Double each number using map & User defined function
print(list(map(add, list1, list2))) # add two items  using map & User defined function
print(list(map(square, list1))) #Square numbers using map & User defined function

print('---------------')

print(list(map(lambda x: x + x, list1))) # Double each number using map & lambda
print(list(map(lambda x, y: x + y, list1, list2))) # add two items  using map & lambda
print(list(map(lambda x: x*x, list1))) #Square numbers using map & lambda

print('---------------')

In [ ]:
countries = ["india" , "pakistan" , "australia" , "dubai"]
list(map(lambda x : x.capitalize(),countries))

In [ ]:
list2 = [1,2,3,4]

product = reduce (operator.mul,list2) # Product of all numbers in a list

add = reduce(operator.add,list2) # Add all numbers in the list

concat_str = reduce(operator.add , ['Python' , ' ' , 'Rocks']) # Concatenate string using reduce 

prod = reduce(operator.mul,['Hello ' , 3]) #Repeat a string multiple times

min_num = reduce(lambda a, b: a if a < b else b, list2) # Minimum number in the list using reduce () & lambda

max_num = reduce(lambda a, b: a if a > b else b, list2) # Maximum number in the list using reduce () & lambda

print(product)

print(add)

print(concat_str)

print(prod)

print(min_num)

print(max_num)

In [ ]:
def min_func(a, b):
        return a if a < b else b
 

def max_func(a, b):
    return a if a > b else b

min_num = reduce(min_func, list2) # Minimum number in the list using reduce () & User defined min function

max_num = reduce(max_func, list2) # Maximum number in the list using reduce () & User defined min function

min_num , max_num

In [ ]:
print('------')
print(reduce(lambda a, b: bool(a and b), [0, 0, 1, 0, 0])) # Returns True if all values in the list are True 
print(reduce(lambda a, b: bool(a and b), [2, 3, 1, 5, 6])) # Returns True if all items in the list are True
print(reduce(lambda a, b: bool(a and b), [8, 9, 1, 0, 9])) # Returns True if all values in the list are True

print('------')

print(reduce(lambda a, b: bool(a or b), [0, 0, 0, 0, 0]))  # Returns True if any item in the list is True
print(reduce(lambda a, b: bool(a or b), [2, 3, 1, 5, 6]))  # Returns True if any item in the list is True
print(reduce(lambda a, b: bool(a or b), [8, 9, 1, 0, 9]))  # Returns True if any item in the list is True

print('------')

# Classes & Objects

- A Class is an object constructor or a "blueprint" for creating objects.

- Objects are nothing but an encapsulation of variables and functions into a single entity. 

- Objects get their variables and functions from classes.

- To create a class we use the keyword __class__.

- The first string inside the class is called docstring which gives the brief description about the class.

- All classes have a function called $____init____()$ which is always executed when the class is being initiated.

- We can use $____init____()$ function to assign values to object properties or other operations that are necessary to perform when the object is being created

- The __self__ parameter is a reference to the current instance of the class and is used to access class variables.

- __self__ must be the first parameter of any function in the class

- The __super()__ builtin function returns a temporary object of the superclass that allows us to access methods of the base class.

- __super()__ allows us to avoid using the base class name explicitly and to enable multiple inheritance.


__Syntax__

<img src="class.PNG">

In [ ]:
# Create a class with property "var1"
class myclass:
    var1 = 10
    
obj1 = myclass() # Create an object of class "myclass()"
print(obj1.var1)

In [ ]:
# Create an employee class
class Employee:
  def __init__(self, name, empid): # __init__() function is used to assign values for name and empid
    self.name = name
    self.empid = empid
  def greet(self): # Class Method
    print("Thanks for joining ABC Company {}!!".format(self.name))

emp1 = Employee("Asif", 34163)  # Create an employee object

print('Name :- ',emp1.name)
print('Employee ID :- ',emp1.empid)
emp1.greet()

In [ ]:
emp1.name = 'Basit' # Modify Object Properties
emp1.name

In [ ]:
del emp1.empid   # Delete Object Properties
emp1.empid

In [ ]:
del emp1 # Delete the object
emp1

In [ ]:
emp2 = Employee("Michael", 34162)  # Create an employee object

print('Name :- ',emp2.name)
print('Employee ID :- ',emp2.empid)
emp2.greet()

In [ ]:
emp2.country = 'India' #instance variable can be created manually
emp2.country

## Inheritance

- Inheritance is a powerful feature in object oriented programming.


- Inheritance provides code reusability in the program because we can use an existing class (Super Class/ Parent Class / Base Class)  to create a new class (Sub Class / Child Class / Derived Class) instead of creating it from scratch.


- The child class inherits data definitions and methods from the parent class which facilitates the reuse of features already available. The child class can add few more definitions or redefine a base class method.


- Inheritance comes into picture when a new class possesses the '__IS A__' relationship with an existing class. E.g Student is a person. Hence person is the base class and student is derived class.

<img src= "inheritance1.PNG">

In [ ]:
class person:   # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

        
        
        
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees
    
    def StudentInfo(self):
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))
        

        
class teacher(person): # Child Class
    def __init__(self,name,age,gender,empid,salary):
        person.__init__(self,name,age,gender)
        self.empid = empid
        self.salary = salary
    
    def TeacherInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))


        
stud1 = student('Asif' , 24 , 'Male' , 123 , 1200)
print('Student Details')
print('---------------')
stud1.PersonInfo()    # PersonInfo() method presnt in Parent Class will be accessible by child class
stud1.StudentInfo()
print()



teacher1 = teacher('Basit' , 36 , 'Male' , 456 , 80000)
print('Employee Details')
print('---------------')
teacher1.PersonInfo()    # PersonInfo() method presnt in Parent Class will be accessible by child class
teacher1.TeacherInfo()

In [ ]:
class person:   # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

        
        
        
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees
    
    def StudentInfo(self):
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))
        
        
stud1 = student('Asif' , 24 , 'Male' , 123 , 1200)
print('Student Details')
print('---------------')
stud1.PersonInfo()    # PersonInfo() method presnt in Parent Class will be accessible by child class
stud1.StudentInfo()
print()

In [ ]:
# super() builtin function allows us to access methods of the base class.

class person:   # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

        
        
        
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        super().__init__(name,age,gender)  
        self.studentid = studentid
        self.fees = fees
    
    def StudentInfo(self):
        super().PersonInfo()
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))
        
stud = student('Asif' , 24 , 'Male' , 123 , 1200)
print('Student Details')
print('---------------')
stud.StudentInfo()

### Multi-level Inheritance

- In this type of inheritance, a class can inherit from a child class or derived class. 

- Multilevel Inheritance can be of any depth in python

<img src= "multi-level inheritance.png">

In [ ]:
class person:   # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

        
        
        
class employee(person): # Child Class
    def __init__(self,name,age,gender,empid,salary):
        person.__init__(self,name,age,gender)
        self.empid = empid
        self.salary = salary
    
    def employeeInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))
        
        

        
class fulltime(employee): # Grand Child Class
    def __init__(self,name,age,gender,empid,salary,WorkExperience):
        employee.__init__(self,name,age,gender,empid,salary)
        self.WorkExperience = WorkExperience
    
    def FulltimeInfo(self):
        print('Work Experience :- {}'.format(self.WorkExperience))
        
        
        

class contractual(employee): # Grand Child Class
    def __init__(self,name,age,gender,empid,salary,ContractExpiry):
        employee.__init__(self,name,age,gender,empid,salary)
        self.ContractExpiry = ContractExpiry
    
    def ContractInfo(self):
        print('Contract Expiry :- {}'.format(self.ContractExpiry))

        
print('Contractual Employee Details')
print('****************************')
contract1 = contractual('Basit' , 36 , 'Male' , 456 , 80000,'21-12-2021')
contract1.PersonInfo()
contract1.employeeInfo()
contract1.ContractInfo()

print('\n \n')

print('Fulltime Employee Details')
print('****************************')
fulltim1= fulltime('Asif' , 22 , 'Male' , 567 , 70000, 12)
fulltim1.PersonInfo()
fulltim1.employeeInfo()
fulltim1.FulltimeInfo()

### Multiple Inheritance

- Multiple inheritance is a feature in which a class (derived class) can inherit attributes and methods from more than one parent class.

- The derived class inherits all the features of the base case.

<img src = 'Multiple Inheritance.PNG'>

In [ ]:
# Super Class
class Father:
    def __init__(self):
        self.fathername = str()

    
# Super Class
class Mother:
    def __init__(self):
        self.mothername = str()
    
    
# Sub Class
class Son(Father, Mother):
    name = str()
    def show(self):
        print('My Name :- ',self.name)
        print("Father :", self.fathername)
        print("Mother :", self.mothername)
 
 
s1 = Son()
s1.name = 'Bill'
s1.fathername = "John"
s1.mothername = "Kristen"
s1.show()

In [ ]:
class Date:
    def __init__(self,date):
        self.date = date    
        
class Time:
    def __init__(self,time):
        self.time = time

class timestamp(CurrentDate,CurrentTime):
    def __init__(self,date,time):
        CurrentDate.__init__(self,date)
        CurrentTime.__init__(self,time)
        DateTime = self.date + ' ' + self.time
        print(DateTime)

datetime1 = timestamp( '2020-08-09', '23:48:55')

### Method Overriding

- Overriding is a very important part of object oreinted programming because it makes inheritance exploit its full power. 


- Overriding is the ability of a class (Sub Class / Child Class / Derived Class) to change the implementation of a method provided by one of its parent classes.


- When a method in a subclass has the same name, same parameter and same return type as a method in its super-class, then the method in the subclass is said to override the method in the super-class.


- The version of a method that is executed will be determined by the object that is used to invoke it. 

- If an object of a parent class is used to invoke the method, then the version in the parent class will be executed, but if an object of the subclass is used to invoke the method, then the version in the child class will be executed.

In [ ]:
class person:   # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def greet(self):
        print("Hello Person")
        
        
        
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees

    def greet(self):
        print("Hello Student")
        
    
stud = student('Gabriel' , 56 , 'Male' , 45 , 345678)
stud.greet() # greet() method defined in subclass will be triggered as "stud" is an object of child class

person1 = person('Gabriel' , 56 , 'Male')
person1.greet() # greet() method defined in superclass will be triggered because "person1" is an object of parent class

# Container

- Containers are data structures that hold data values. 


- They support membership tests which means we can check whether a value exists in the container or not. 


- Generally containers provide a way to access the contained objects and to iterate over them.


- Examples of containers include tuple, list, set, dict, str

In [ ]:
list1 = ['asif' , 'john' , 'Michael' , 'Basit']

'asif' in list1  # Membership check using 'in' operator

In [ ]:
assert 'john' in list1  # If the condition returns true the program does nothing and move to the next line of code

In [ ]:
assert 'john1' in list1 # If the condition returns false, Assert will stop the program and throws an AssertionError.

In [ ]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

In [ ]:
'Asif' in mydict # Dictionary membership will always check the keys

In [ ]:
'Name' in mydict # Dictionary membership will always check the keys

In [ ]:
'DOB' in mydict

In [ ]:
mystr = 'asifbhat'

'as' in mystr  # Check if substring is present

# Iterable & Iterator

- An __iterable__ is an object that can be iterated upon. It can return an iterator object with the purpose of traversing through all the elements of an iterable. 


- An iterable object implements ____iter__()__ which is expected to return an iterator object. The iterator object uses the ____next__()__ method. Every time __next()__ is called next element in the iterator stream is returned. When there are no more elements available __StopIteration exception__ is encountered. So any object that has a ____next__()__ method is called an __iterator__.



- Python lists, tuples, dictionaries and sets are all examples of iterable objects.

<img src = 'iterator1.PNG'>

In [ ]:
mylist = ['Asif' , 'Basit' , 'John' , 'Michael']
list_iter = iter(mylist) # Create an iterator object using iter()
print(next(list_iter))  # return first element in the iterator stream
print(next(list_iter))  # return next element in the iterator stream
print(next(list_iter))
print(next(list_iter))
print(next(list_iter))

In [ ]:
mylist = ['Asif' , 'Basit' , 'John' , 'Michael']
list_iter = iter(mylist)     # Create an iterator object using iter()
print(list_iter.__next__())  # return first element in the iterator stream
print(list_iter.__next__())  # return next element in the iterator stream
print(list_iter.__next__())
print(list_iter.__next__())

In [ ]:
mylist = ['Asif' , 'Basit' , 'John' , 'Michael']
list_iter = iter(mylist)     # Create an iterator object using iter()
for i in list_iter:
    print(i)

In [ ]:
# Looping Through an Iterable (list) using for loop

mylist = ['Asif' , 'Basit' , 'John' , 'Michael']

for i in mylist:
    print(i)

In [ ]:
# Looping Through an Iterable (tuple) using for loop

mytuple = ('Asif' , 'Basit' , 'John' , 'Michael')

for i in mytuple:
    print(i)

In [ ]:
# Looping Through an Iterable (string) using for loop

mystr = "Hello Python"

for i in mystr:
    print(i)

In [ ]:
# This iterator produces all natural numbers from 1 to 10.
class myiter:
     def __init__(self):
            self.num = 0
     
     def __iter__(self):
            self.num = 1
            return self
     
     def __next__(self):
        if self.num <= 10:
            val = self.num
            self.num += 1
            return val
        else:
            raise StopIteration

mynum = myiter()
iter1 = iter(mynum)
for i in iter1:
    print(i)

In [ ]:
# This iterator will produce odd numbers
class myiter:
     def __init__(self):
            self.num = 0
     
     def __iter__(self):
            self.num = 1
            return self
     
     def __next__(self):
        if self.num <= 20 :
            val = self.num
            self.num += 2
            return val
        else:
            raise StopIteration

myodd = myiter()
iter1 = iter(myodd)
for i in iter1:
    print(i)

In [ ]:
# This iterator will produce fibonacci numbers

class myfibonacci:
     def __init__(self):
            self.prev = 0
            self.cur = 0
     
     def __iter__(self):
            self.prev = 0
            self.cur = 1
            return self
     
     def __next__(self):
        if self.cur <= 50:
            val = self.cur
            self.cur += self.prev
            self.prev = val
            return val
        else:
            raise StopIteration

myfibo = myfibonacci()
iter1 = iter(myfibo)
for i in iter1:
    print(i)

# Generator

- Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.  


- It is a special type of function which returns an iterator object.


- In a generator function, a __yield__ statement is used rather than a __return__ statement.


- The generator function cannot include the return keyword. If we include it then it will terminate the execution of the function. 


- The difference between __yield__ and __return__ is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of  the return statement value is returned and the execution of the function is terminated.


- Methods like ____iter__()__ and ____next__()__ are implemented automatically in generator function. 


- Simple generators can be easily created using __generator expressions__. Generator expressions create anonymous generator functions like lambda.


- The syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.

In [ ]:
# Simple generator function that will generate numbers from 1 to 5.
def mygen():
    n = 1
    yield n

    n += 1
    yield n

    n += 1
    yield n

    n += 1
    yield n
    
    n += 1
    yield n
    
mygen1 = mygen()

print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1)) #Function will terminate here as all 5 values have been returned. 
print(next(mygen1)) # As function is already terminated, StopIteration is raised automatically.

In [ ]:
# Simple generator function that will generate natural numbers from 1 to 20.
def mygen():
    for i in range(1,20):
        yield i

    
mygen1 = mygen()

for i in mygen1:
    print(i)

In [ ]:
num = list(mygen()) # Store all values generated by generator function in a list
num

In [ ]:
# Simple generator function that will generate even numbers from 1 to 20.
def mygen():
    for i in range(1,20):
        if i%2 == 0:
            yield i

    
mygen1 = mygen()

for i in mygen1:
    print(i)

In [ ]:
# This Generator function will generate ten numbers of fibonacci series.
def myfibo():
    num1 , num2 = 0,1
    count = 0
    while count < 10:
            yield num1
            num1,num2 = num2,num1+num2
            count+=1

            
fibo = myfibo()

for i in fibo:
    print(i)

In [ ]:
list1 = list(myfibo()) # Store the fibonacci series in a list
list1

In [ ]:
list2 = [i**2 for i in range(10)]  # List comprehension
list2

In [ ]:
gen2 = (i**2 for i in range(10)) # Generator expression
gen2

In [ ]:
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))

In [ ]:
gen2 = (i for i in range(40) if i%2 == 0) # Generator expression to generate even numbers 
gen2

for i in gen2:
    print(i)

# Decorator

__Decorator__ is very powerful and useful tool in Python as it allows us to wrap another function in order to extend the behavior of wrapped function without permanently modifying it.


In Decorators functions are taken as the argument into another function and then called inside the wrapper function.

__Advantages__ - 
 - Logging & debugging
 
 - Access control and authentication

In [ ]:
def subtract(num1 , num2):
    res = num1 - num2
    print('Result is :- ', res)
    
subtract(4,2)
subtract(2,4)

In [ ]:
''' We now want subtract() function to always subtract lower number from higher one without modifying this function.
    So when we pass (2,4) it should perform 4-2 not 2-4. To acheive this we will create a decorator function'''
    

def sub_decorator(func):
    def wrapper(num1,num2):
        if num1 < num2:
            num1,num2 = num2,num1
            return func(num1,num2)
    return wrapper
            
sub = sub_decorator(subtract)

sub(2,4)

In [ ]:
@sub_decorator   # we can use @ syntax for decorating a function in one step
def subtract(num1 , num2):
    res = num1 - num2
    print('Result is :- ', res)
subtract(2,4)

In [ ]:
def InstallLinux():
    print('Linux installation has started \n')
    
def InstallWindows():
    print('Windows installation has started \n')
    
def InstallMac():
    print('Mac installation has started \n')

    
InstallLinux()
InstallWindows()
InstallMac()

print()


''' Now suppose if we want to print message :- "Please accept terms & conditions" before every installation 
    then easy way will be to create one decorator function which will present this message instead of modifying all functions'''
  
    

def InstallDecorator(func):
    def wrapper():
        print('Please accept terms & conditions')
        return func()
    return wrapper()

@InstallDecorator    # we can use @ syntax for decorating a function in one step
def InstallLinux():
    print('Linux installation has started \n')
  
@InstallDecorator
def InstallWindows():
    print('Windows installation has started \n ')
 
@InstallDecorator
def InstallMac():
    print('Mac installation has started \n')

In [ ]:
# Apply multiple decorator on a single function

def InstallDecorator1(func):
    def wrapper():
        print('Please accept terms & conditions...\n')
        func()
    return wrapper

def InstallDecorator2(func):
    def wrapper():
        print('Please enter correct license key...\n')
        return func()
    return wrapper


def InstallDecorator3(func):
    def wrapper():
        print('Please enter partitioning choice...\n')
        return func()
    return wrapper

@InstallDecorator1
@InstallDecorator2
@InstallDecorator3
def InstallLinux():
    print('Linux installation has started \n')

InstallLinux()

# File Management

### Python has several built-in modules and functions for creating, reading, updating and deleting files.

<img src="fileoperation.PNG">

### Open File

In [ ]:
fileobj = open('test1.txt')  # Open file in read/text mode

In [ ]:
fileobj = open('test1.txt', 'r') # Open file in read mode

In [ ]:
fileobj = open('test1.txt', 'w') # Open file in write mode

In [ ]:
fileobj = open('test1.txt', 'a') # Open file in append mode

### Close File

In [ ]:
fileobj.close()

### Read File

In [ ]:
fileobj = open('test1.txt')

In [ ]:
fileobj.read() #Read whole file

In [ ]:
fileobj.read() #File cursor is already at the end of the file so it won't be able to read anything.

In [ ]:
fileobj.seek(0) # Bring file cursor to initial position.
fileobj.read()

In [ ]:
fileobj.seek(7) # place file cursor at loc 7
fileobj.read()

In [ ]:
fileobj.seek(0)

fileobj.read(16) # Return the first 16 characters of the file

In [ ]:
fileobj.tell() # Get the file cursor position

In [ ]:
fileobj.seek(0)

print(fileobj.readline()) # Read first line of a file.

print(fileobj.readline()) # Read second line of a file.

print(fileobj.readline()) # Read third line of a file.

In [ ]:
fileobj.seek(0)

fileobj.readlines() # Read all lines of a file.

In [ ]:
# Read first 5 lines of a file using readline()
fileobj.seek(0)

count = 0
for i in range(5):
    if (count < 5):
        print(fileobj.readline())
    else:
        break
    count+=1

In [ ]:
# Read first 5 lines of a file using readlines()
fileobj.seek(0)

count = 0
for i in fileobj.readlines():
    if (count < 5):
        print(i)
    else:
        break
    count+=1

### Write File

In [ ]:
fileobj = open('test1.txt', 'a')

fileobj.write('THIS IS THE NEW CONTENT APPENDED IN THE FILE') # Append content to the file

fileobj.close()

fileobj = open('test1.txt')

fileobj.read()

In [ ]:
fileobj = open("test1.txt", "w")

fileobj.write("NEW CONTENT ADDED IN THE FILE. PREVIOUS CONTENT HAS BEEN OVERWRITTEN") # overwrite the content in the file

fileobj.close()

fileobj = open('test1.txt')

fileobj.read()

In [ ]:
fileobj = open("test2.txt", "w") # Create a new file

fileobj.write("First Line\n") 
fileobj.write("Second Line\n")
fileobj.write("Third Line\n") 
fileobj.write("Fourth Line\n")
fileobj.write("Fifth Line\n")
fileobj.close()

fileobj = open('test2.txt')

fileobj.readlines()

### Delete file

In [ ]:
os.remove("test3.txt") # Delete file

In [ ]:
os.remove("test3.txt")

In [ ]:
os.rmdir('folder1/')  # Delete folder

In [ ]:
os.rmdir('folder1/')

# Error & Exception Handling

- Python has many built-in exceptions (ArithmeticError, ZeroDivisionError, EOFError, IndexError, KeyError, SyntaxError, IndentationError, FileNotFoundError etc) that are raised when your program encounters an error.


- When the exception occurs Python interpreter stops the current process and passes it to the calling process until it is handled. If exception is not handled the program will crash.


- Exceptions in python can be handled using a __try__ statement. The __try__ block lets you test a block of code for errors.
 

- The block of code which can raise an exception is placed inside the try clause. The code that will handle the exceptions is written in the __except__ clause.
 
 
- The __finally__ code block will execute regardless of the result of the try and except blocks.


- We can also use the __else__ keyword to define a block of code to be executed if no exceptions were raised.


- Python also allows us to create our own exceptions that can be raised from the program using the __raise__ keyword and caught using the __except__ clause. We can define what kind of error to raise, and the text to print to the user.

<img src = 'exception1.PNG'>
<img src = 'exception2.PNG'>

In [ ]:
try:
    print(100/0) # ZeroDivisionError will be encountered here. So the control will pass to except block
    
except:
    print(sys.exc_info()[1] , 'Exception occured') # This statement will be executed 
    
else:
    print('No exception occurred') # This will be skipped as code block inside try encountered an exception

finally:
    print('Run this block of code always') # This will be always executed

In [ ]:
try:
    print(x)  # NameError exception will be encountered as variable x is not defined                               

except:
    print('Variable x is not defined')

In [ ]:
try:
    os.remove("test3.txt") # FileNotFoundError will be encountered as "test3.txt" is not present in the directory
    
except:                     # Below statement will be executed as exception occured.          
    print("BELOW EXCEPTION OCCURED") 
    print(sys.exc_info()[1])
    
else:
    print('\nNo exception occurred')

finally:
    print('\nRun this block of code always')

In [ ]:
# Handling specific exceptions
try:
    x = int(input('Enter first number :- '))
    y =  int(input('Enter first number :- '))  # If input entered is non-zero the control will move to next line
    print(x/y)
    os.remove("test3.txt")

except NameError:
    print('NameError exception occurred')

except FileNotFoundError:
    print('FileNotFoundError exception occurred')
    
except ZeroDivisionError:
    print('ZeroDivisionError exception occurred')

In [ ]:
# Handling specific exceptions
try:
    x = int(input('Enter first number :- '))
    y =  int(input('Enter first number :- ')) # If the input entered is zero the control will move to except block.
    print(x/y)
    os.remove("test3.txt")

except NameError:
    print('NameError exception occurred')

except FileNotFoundError:
    print('FileNotFoundError exception occurred')
    
except ZeroDivisionError:
    print('ZeroDivisionError exception occurred')

In [ ]:
try:
    x = int(input('Enter first number :- '))
    if x > 50:
        raise ValueError(x) # If value of x is greater than 50 ValueError exception will be encountered.
except:
    print(sys.exc_info()[0])

### Built-in Exceptions

In [ ]:
# OverflowError - This exception is raised when the result of a numeric calculation is too large

try:  
    import math
    print(math.exp(1000))
except OverflowError:  
        print (sys.exc_info())
else:  
    print ("Success, no error!")

In [ ]:
# ZeroDivisionError - This exception is raised when the second operator in a division is zero

try:
    x = int(input('Enter first number :- '))
    y =  int(input('Enter first number :- '))
    print(x/y)
    
except ZeroDivisionError:
    print('ZeroDivisionError exception occurred')

In [ ]:
# NameError - This exception is raised when a variable does not exist

try:
    print(x1)

except NameError:
    print('NameError exception occurred')

In [ ]:
# AssertionError - This exception is raised when an assert statement fails

try:  
    a = 50
    b = "Asif"
    assert a == b
except AssertionError:  
        print ("Assertion Exception Raised.")

In [ ]:
# ModuleNotFoundError - This exception is raised when an imported module does not exist

try:
    import MyModule

except ModuleNotFoundError:  
        print ("ModuleNotFoundError Exception Raised.")

In [ ]:
# KeyError - This exception is raised when key does not exist in a dictionary

try:
    mydict = {1:'Asif', 2:'Basit', 3:'Michael'}
    print (mydict[4])

except KeyError:
     print ("KeyError Exception Raised.")

In [ ]:
# IndexError - This exception is raised when an index of a sequence does not exist.

try:
    mylist = [1,2,3,4,5,6]
    print (mylist[10])

except IndexError:
     print ("IndexError Exception Raised.")

In [ ]:
# TypeError - This exception is raised when two different datatypes are combined

try:  
    a = 50
    b = "Asif"
    c = a/b
except TypeError:  
        print ("TypeError Exception Raised.")

In [ ]:
# AttributeError: - This exception is raised when attribute reference or assignment fails

try:  
    a = 10
    b = a.upper()
    print(b)
except AttributeError:  
        print ("AttributeError Exception Raised.")

In [ ]:
try:
    x = input('Enter first number :- ')

    
except:
    print('ZeroDivisionError exception occurred')

# END

In [ ]:
### Examples

In [ ]:
# Print all prime numbers betweem 1 - 20
for i in range(1, 20):
    flag = True
    for j in range(2,i):
        if i % j == 0:
            flag = False
            break   
    if flag :
        print(i,end=',')

In [ ]:
# Calculate factorial using recursion
def fact(n):
    if n>0:
        return n*fact(n-1)
    else:
        return 1
    
fact(4) , fact(3) , fact(5)

In [ ]:
# Calculate factorial
def fact(n):
    fact1 = 1
    for i in range(1,n+1):
        fact1 *=i
    return fact1

    
fact(4) , fact(3) , fact(5)

In [ ]:
# Intersection of two lists or common elements between two lists
my_all_friends = ['userid1','userid2','userid3','userid4']
profile_friends = ['userid3','userid4','userid5','userid6']

mutual_friends = [i for i in my_all_friends if i in profile_friends]
print('Mutual Friends :-',mutual_friends)

# OR

my_all_friends = ['userid1','userid2','userid3','userid4']
profile_friends = ['userid3','userid4','userid5','userid6']

my_all_friends = set(['userid1','userid2','userid3','userid4'])
profile_friends =set(['userid3','userid4','userid5','userid6'])

mutual_friends = my_all_friends & profile_friends
mutual_friends

In [ ]:
# Switch Case in Python
def mapper(choice,a,b):
    operation_dict ={1: a+b,
                     2: a-b ,
                     3: a*b,
                     4: a/b}
    return operation_dict[choice]

a = int(input('Enter first number :-'))
b = int(input('Enter second number :-'))
operation = 0
while True:
    operation = int(input('''Please choice the operation: \n
                        1 : Addition\n 
                        2 : Subtraction\n 
                        3 : Multiplication\n
                        4 : Division\n
                        5 : Exit\n'''))
    if operation == 5:
        break
    else:
        print(mapper(operation,a,b))

In [ ]:
#### Shadow Copying
l1 = ['Asif' , 'Basit' , 'Arun' , 'Sajad']
l2 = l1
print(l1,'\n',l2)

l1[0] = 'John'
print(l1,'\n',l2)

In [ ]:
# Split String at special character loc
Iam="I,am!currently$ enrolled%in,data!science ^ course^Conducted  @UpGrad@IITB^Banglore^Karnataka"
spec_char = "@[_!#$%^&*()<>?/|,}{~:]"
index_list = []
for i in range(len(Iam)):
    if Iam[i] in spec_char:
        index_list.append(i)
final_list = []

for i in range(len(index_list)):
    if (i < 1):
        final_list.append(Iam[0:index_list[i]].strip())
    else:
        final_list.append(Iam[index_list[i-1]+1:index_list[i]].strip())
final_list.append(Iam[index_list[i]+1:len(Iam)])    
final_list

In [ ]:
#Vowel Test
vowels = "AaEeIiOoUu"
input_str = input("Enter String: ")
if (input_str[0] in vowels):
    print("YES")
else:
    print('NO')

In [ ]:
# Reverse Number
#take input of the number here
n = int(input())

#write code to reverse the number here
r= 0
while (n>0):
    r = r*10 +n%10
    n = n//10
print(r)

In [ ]:
# Armstrong number Test
n=int(input())
sum = 0
div=n 
while (div>0):
    r= div%10
    sum+=r**3
    div = int(div/10)
print(sum==n)

In [ ]:
# Fibonacci Series
n=int(input())
#write your code here
prev = 0
nxt =1
if n > 0:
    print(0)
if n > 1:
    print(1)
if n > 2:
    for i in range(3,n+1):
        nxt=prev+nxt
        print(nxt)
        prev = nxt-prev

In [ ]:
# Sum of prime numbers from 2 to n 
n=int(input())
sum= 0
for i in range(2,n+1):
    flag=True
    for j in range(2,int(n/2)+1):
        if i%j ==0 and i!=j:
            flag=False
            break
    if flag:
        sum+=i
print(sum)

In [ ]:
# Fenced Matrix
import ast
mylist= ast.literal_eval(input())
rows, cols = (mylist[0],mylist[1]) 
dlist = [[0 for i in range(cols)] for j in range(rows)]
for i in range(rows):
    for j in range(cols):
        if i ==0 or j==0 or i ==rows-1 or j == cols-1:
            dlist[i][j]=1


for i in range(rows):
    print(dlist[i])

In [ ]:
# Pascal's Triangle
from math import factorial 
n=int(input())
print([factorial(i)//(factorial(k)*factorial(i-k)) for i in range(n)  if i == n-1 for k in range(i+1)])

In [ ]:
# Second largest number
mylist = [10,5,5,6,7,8,9,3,8,8,8,9,9,10,10]
second_largest = list(sorted(set(mylist)))[-2]
print('Second Largest Number :- ',second_largest)

In [ ]:
# Palindrome
s = input()

print(s.lower() == s[::-1].lower())

In [ ]:
# Reverse sentence

sentence=input()
list1 = sentence.split(' ')
list1.reverse()
print(' '.join(list1))